<?xml version="1.0"?>
<configuration>
  <appSettings>
      <add key="Diablo3Monitor" value="" />
      <add key="Diablo3SSPath" value="" />
      <add key="X" value="0" />
      <add key="X_Pool" value="0" />
      <add key="Y" value="0" />
      <add key="Y_Pool" value="0" />
      <add key="Width" value="0" />
      <add key="Height" value="0" />
  </appSettings>
  <startup>
      <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
